
@font-face {
    font-family: 'Circular Std';
    src: url("../fonts/circular-std-medium-500.woff2") format("woff2");
    font-weight: 450;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Circular Std';
    src: url("../fonts/FontsFree-Net-CircularStd-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}